@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-url: url('https://s3.turistikrota.com/ui/background/summer-light.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-url: url('https://s3.turistikrota.com/ui/background/summer-dark.png');
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(90deg, var(--default-background), var(--header-background-color));
  height: 100vh;
}

@keyframes rotating {
  0% {
    transform: rotate(0);
    top: 10%;
    left: 5%
  }

  to {
    transform: rotate(360deg);
    top: 60%;
    left: 15%
  }
}

@keyframes rotating2 {
  0% {
    transform: rotate(0);
    bottom: 10%;
    right: 10%
  }

  to {
    transform: rotate(360deg);
    bottom: 80%;
    right: 30%
  }
}

@keyframes rotating3 {
  0% {
    transform: rotate(0);
    bottom: 0%;
    right: 65%
  }

  to {
    transform: rotate(360deg);
    bottom: 50%;
    right: 35%
  }
}

.shape1 {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 4rem;
  height: 4rem;
  border-radius: 10%;
  animation: rotating alternate ease-in-out infinite 6s
}

.hero-with-shapes .shape2 {
  position: absolute;
  bottom: 20%;
  right: 10%;
  width: 4rem;
  height: 4rem;
  border-radius: 10%;
  animation: rotating2 alternate ease-in-out infinite 6s
}

.hero-with-shapes .shape3 {
  position: absolute;
  bottom: 0%;
  right: 65%;
  width: 4rem;
  height: 4rem;
  border-radius: 10%;
  animation: rotating3 alternate ease-in-out infinite 6s
}

button[data-headlessui-state] {
  outline: transparent
}